body {
  background-color: #196F3D;


}

.header {
  justify-content: center;
  display: flex;
  font-size: 50px;
  background-color: black;
  color: white;
}

.instruction {
  justify-content: center;
  display: flex;
  font-size: 30px;
}

.selector_container{
  justify-content: center;
  display: flex;
  font-size: 20px;
  padding: 20px;
}

.holidays_container{
  font-size: 20px;
  background-color: #B03A2E;
  padding: 20px;
}

.holiday_promt {
  font-size: 30px;
}

.holiday_result_container{
  padding: 20px;
}

.row {
  justify-content: space-between;
  display: flex;

}



.exchange_container {
  background-color: #A2D9CE;
  text-align: right;
  font-size: 20px;
  height: 200px;
  padding: 20px;
}

.exchange_promt {
  font-size: 30px;
}

.exchange_result_container {
  text-align: center;
  font-size: 30px;
}

.news_container {
  padding: 20px;
  font-size: 20px;
  background-color: #B2BABB;
}

.news_promt{
  font-size: 30px;
}

.news_container > a {
  font-size: 20px;
}

#news_col {
  text-align: center;
  width: 450px;
  height: 75px;
}

#holiday_col {
  text-align: center;
  border: solid 3px black;
  width: 450px;
}

.footer_container {

  background-color: black;
  text-align: right;
  font-size: 20px;
  padding: 20px;
  height: 80px;
}
